@import '../core/reset';
@import '../core/variables';
@import '../core/mixins';

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 20px;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 50px;
}
