@import '../core/reset';
@import '../core/variables';
@import '../core/mixins';

.detail {
  height: 90vh;
  margin-top: 125px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__card {
    @include card-style;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    &__img {
      border-radius: 5px;
    }
    &__info {
      a {
        padding-top: 100px;
      }
    }
  }
}
