@import '../core/reset';
@import '../core/variables';
@import '../core/mixins';

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: $secondary-color;
  width: 100%;
  font-family: $primary-font;
  padding: 30px;
  img {
    width: 200px;
  }
}
